.sidebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 43px 25px 36px;
}

.sidebar svg {
  padding: 38px 10px;
}

.text {
  padding: 23px 10px;
  font-size: 40px;
  font-weight: 300;
  color: var(--text-color-black);
}
