.p {
  margin: 0;
  font-weight: 400;
  text-decoration-skip-ink: none;
}

.s {
  font-size: 14px;
  line-height: 150%;
}

.m {
  font-size: 16px;
  line-height: 175%;
}

.l {
  font-size: 18px;
  line-height: 178%;
}
